<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Dashboard</title>
    <link rel="stylesheet" href="styles/main.css">
    <!-- <link rel="stylesheet" href="styles/create.css"> -->
</head>
<body>
    <div class="sidebar">
        <h2>Blog Manager</h2>
        <a href="/myposts">My Posts</a>
        <a href="/create">Create Post</a>
        <a href="/profile">Profile</a>
        <a href="/home">Home</a>
    </div>
    <div class="main">
        <div class="header">
            <div class="logo">Blog Dashboard</div>
            <div class="search-bar">
                <input type="text" placeholder="Search posts...">
            </div>
            <div class="profile">
                <img src=<% if(locals.imageDetails && locals.imageDetails.filename){%> 
                    <%= "/images/"+imageDetails.filename %>
                <% } else { %>
                    <%= "/images/one.jpg" %> 
                <%}%> 
                alt="Profile" style="border-radius: 50%;">
                <span><% if(locals.profileDetails && locals.profileDetails.name){%>
                        <%= profileDetails.name %>
                      <% } else { %>
                        <%= 'Guest'  %>
                      <% } %></span>
            </div>
        </div>
        <div class="content profile-section">